
.form-box {
  max-height: 86vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: -10px;
  background-color: rgba(0, 0, 40, 0.9); 
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5); 
}
.search-bar {
  width: 555px;
  border-radius: 5px;
  padding: 10px;
  height: auto;
  font-size: 16px;
  border: 1px solid #ccc;
  position: relative;
  left: 435px;
  background-color: rgba(0, 0, 40, 0.8);
  color: #0ff;
  border: 1px solid #0ff; 
}
.btn-search {
  margin-left: 10px;
  height: 38px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  background-color: #007bff; 
  color: white;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease;
  position: relative;
  left: 450px;
}

.btn-search:hover {
  background-color: #00ce33;
  box-shadow: 0 0 10px #00ce33;
}
.search-with-btn {
  margin-top: 5rem;
  display: flex;
}
.title-text {
  font-size: 25pt;
  font-weight: bold;
  color: #0ff;
}
.text-warning {
  width: 100%;
  height: 40px;
  background-color: white;
  color: red;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text-searching {
  width: 100%;
  height: 40px;
  color: #0ff;
  justify-content: center;
  align-items: center;
  display: flex;
}
.searched-movie {
  overflow: auto;
  max-height: 250px;
  width: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: rgba(0, 0, 40, 0.8); 
  color: #0ff;
  border-radius: 5px;
  border: 1px solid #0ff;
  margin: 10px 5px;
  position: relative;
  left: 430px;
}
.list-movie {
  cursor: pointer;
  padding: 10px;
}

.list-movie:hover {
  background-color: #333; 
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}
.page-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}
.movie-box {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  z-index: -1;
  border-radius: 10px;
  padding-bottom: 5rem;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.image-box {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 320px;
  padding: 10px;
}
.movie-details-box input,
.movie-details-box textarea {
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 550px;
  height: 35px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  background-color: rgba(0, 0, 40, 0.8);
  color: #0ff;
  border: 1px solid #0ff; 
}
.seletor-feature {
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  min-width: 385px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 570px;
  background-color: rgba(0, 0, 40, 0.8); 
  color: #0ff; 
  border: 1px solid #0ff; 
}

textarea {
  min-height: 140px;
  resize: none;
  scrollbar-width: none;
}
.button-box {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.btn-save {
  height: 45px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s;
}

.btn-save:hover {
  background-color: rgb(108, 220, 114); 
  box-shadow: 0 0 10px rgb(108, 220, 114);
}
.img-fluid {
  border-radius: 10px;
  max-height: 629px;
  max-width: 374px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
  cursor: pointer;
  width: 200px;
  text-align: center;
  padding: 8px;
  background-color: rgba(0, 0, 40, 0.8);
  color: #0ff;
  border: 1px solid #0ff;
}

li:hover {
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}
.photo-tab,
.video-tab,
.cast-tab {
  border-radius: 8px 8px 0px 0px;
}
.lalabel {
  text-align: right;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 630px;
  color: #0ff;
}
.page-form>button {
  height: 35px;
  width: 100px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.page-form>button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
